@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.46;
  color: #000000;
  margin: 0;
  padding: 0;
  position: relative;
}

/*popup*/

.popup-opacity::before {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: 7;
}

.popup {
  position: absolute;
  z-index: 8;
  background-color: #fff;
  top: 235px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 390px;
}

._hidden {
  visibility: hidden;
}

.popup-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -8px;
  top: -25px;
}

.popup-content {
  padding: 0 30px;
  font-size: 13px;
}

.popup-row:nth-child(n + 2) {
  margin-top: 24px;
}

.popup-form-hint {
  display: block;
  margin-bottom: 8px;
}

.form-group {
  display: block;
  position: relative;
}

.popup-select-options {
  color: #000;
  opacity: 0.54;
  background-color: #f4f7f6;
  border: none;
  padding: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  font-family: inherit;
}

.popup-select-icon {
  width: 10px;
  height: 16px;
  position: absolute;
  top: 47px;
  right: 10px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;

  width: 20px;
  height: 20px;

  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.radio-group-text::before {
  display: inline-block;
  vertical-align: middle;
}

.radio-group-text::before {
  margin-right: 8px;
}

.radio-group {
  display: inline-block;
}

.radio-group:nth-of-type(n + 2) {
  margin-left: 15px;
}
.radio:checked ~ .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.popup-textarea {
  color: #000;
  opacity: 0.54;
  height: 130px;
  box-sizing: border-box;
  background-color: #f4f7f6;
  width: 100%;
  border: none;
  outline: none;
  font-family: inherit;
  padding: 20px;
  resize: none;
  outline: none;
  font-size: inherit;
}

.popup-button {
  width: 100%;
}

/*header*/

.header {
  padding-top: 25px;
  padding-bottom: 125px;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  color: #fff;
  position: relative;
}

.header::before {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 104px;
  align-items: center;
}

.logo {
  display: block;
  width: 179px;
}

.menu {
  font-size: 13px;
  line-height: normal;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 37px;
}

.menu-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
}

.menu-list-item:hover {
  text-decoration: underline;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
}

.header-title-container {
  margin: 0 auto;
  width: 750px;
  text-align: center;
  color: #ffffff;
}

.header-title {
  font-size: 45px;
  line-height: 1.67;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 0;
}

.header-title:last-child {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .menu-button {
    display: none;
  }

  .header {
    min-width: 1200px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    padding-top: 40px;
    padding-bottom: 100px;
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  .container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 35px;
  }

  .menu-button {
    width: 35px;
    height: 25px;
    border: none;
    padding: 0;
    background-color: transparent;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .menu-list {
    display: none;
  }

  .menu-button:before {
    top: 0;
  }

  .menu-button:before,
  .menu-button:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
  }

  .menu-button:after {
    bottom: 0;
  }

  .menu-button-label {
    width: 100%;
    height: 20%;
    margin-top: -2.5px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .header-title-container {
    width: 611px;
  }

  .header-title {
    font-size: 40px;
    line-height: 1.38;
  }
}

@media (max-width: 640px) {
  .header {
    padding-top: 30px;
    padding-bottom: 220px;
    background-image: url(../images/banner-mobile.jpg);
    width: 100%;
  }

  .container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .logo {
    width: 270px;
    padding-top: 121px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-button {
    width: 35px;
    height: 25px;
    border: none;
    padding: 0;
    background-color: transparent;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .menu-list {
    display: none;
  }

  .menu-button:before {
    top: 0;
  }

  .menu-button:before,
  .menu-button:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
  }

  .menu-button:after {
    bottom: 0;
  }

  .menu-button-label {
    width: 100%;
    height: 20%;
    margin-top: -2.5px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .header-title-container {
    width: 89%;
    padding-top: 100px;
  }

  .header-title {
    font-size: 26px;
    line-height: 1.38;
  }
}

/*trends*/

.trends {
  margin-top: 65px;
}

.trends-products-popup-title {
  font-size: 20px;
  line-height: normal;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-top: 0;
  margin-bottom: 22px;
}

.trends-products-popup-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.trends-container {
  display: flex;
}

.trend {
  width: 25%;
  height: 320px;

  display: flex;
  justify-content: center;

  position: relative;
}

.trend:nth-child(n + 2) {
  margin-left: 0.25%;
}

.trend::after {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.trend-header {
  border: 3px solid #b59f5b;
  margin-bottom: 18px;

  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  align-self: flex-end;
  padding: 40px 35px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.trend-card1 {
  background-image: url(../images/trend1.jpg);
  background-size: cover;
}

.trend-card2 {
  background-image: url(../images/trend2.jpg);
  background-size: cover;
}

.trend-card3 {
  background-image: url(../images/trend3.jpg);
  background-size: cover;
}

.trend-card4 {
  background-image: url(../images/trend4.jpg);
  background-size: cover;
}

.article-tags {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  flex-wrap: wrap;
}

.article-tag {
  margin-right: 20px;
}

.article-tag:hover {
  text-decoration: underline;
}

.article-tag:last-child {
  margin-right: 0;
}

.article-tag-link {
  text-decoration: none;
  color: #b59f5b;
}

.article-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
}

.article-link:hover {
  color: #b59f5b;
}

.article-news-link:hover {
  color: #b59f5b;
}

.article-link {
  text-decoration: none;
  color: #ffffff;
}

@media (orientation: portrait) and (min-width: 641px) and (max-width: 1199px),
  (orientation: landscape) and (max-width: 640px) {
  .trends-container {
    flex-wrap: wrap;
  }

  .trend {
    width: 49.75%;
  }

  .trend:nth-child(2n + 2) {
    margin-left: 0.5%;
  }

  .trend:nth-child(2n + 3) {
    margin-left: 0;
  }

  .trend:nth-child(n + 3) {
    margin-top: 0.5%;
  }
}

@media (max-width: 640px) {
  .trends-container {
    flex-wrap: wrap;
  }

  .trend {
    width: 100%;
  }

  .trend:nth-child(n + 2) {
    margin-top: 0.5%;
  }
}

/*main*/

.container-main {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 54px;
}

/*news*/

.news {
  width: 778px;
}

.news-item {
  display: flex;
}

.news-item:nth-child(n + 2) {
  margin-top: 55px;
}

.news-item-img-container {
  margin: 0 30px 0 0;
}

.news-item-img {
  width: 380px;
}

.news-item-header {
  margin-bottom: 43px;
}

.article-news-link {
  text-decoration: none;
  color: #000000;
}

.news-item-meta {
  margin-top: 26px;
}

.news-item-date {
  font-size: 12px;
  line-height: normal;
  color: #888888;
  display: inline-block;
  margin-right: 10px;
}

.news-item-author {
  font-weight: 700;
  font-size: 12px;
  display: inline-block;
  font-style: normal;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .news {
    width: 56%;
  }

  .news-item {
    flex-wrap: wrap;
    border-bottom: 3px solid #eeeeee;
  }

  .news-item:last-child {
    border-bottom: none;
  }

  .news-item-img-container {
    margin: 0 auto;
  }

  .news-item-img {
    width: 100%;
  }

  .news-item-block {
    margin-top: 15px;
  }
}

@media (max-width: 640px) {
  .container-main {
    flex-wrap: wrap;
  }

  .news {
    width: 100%;
  }

  .news-item {
    flex-wrap: wrap;
    border-bottom: 3px solid #eeeeee;
  }

  .news-item-img-container {
    margin: 0 auto;
  }

  .news-item-img {
    width: 100%;
  }

  .news-item-block {
    margin-top: 5px;
  }

  .news-item:nth-child(n + 2) {
    margin-top: 35px;
  }
}

/*other*/

.other {
  width: 272px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .other {
    width: 39%;
  }
}

@media (max-width: 640px) {
  .other {
    width: 100%;
    margin-top: 45px;
  }
}

/*recent-posts*/

.sidebar-title {
  font-size: 14px;
  line-height: normal;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-top: 0;
  margin-bottom: 25px;
}

.sidebar-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.sidebar-block:nth-child(n + 2) {
  margin-top: 55px;
}

.recent-post {
  display: flex;
}

.recent-post:nth-child(n + 2) {
  margin-top: 17px;
}

.recent-post-img-container {
  margin: 0 20px 0 0;
}

.recent-post-img {
  width: 70px;
}

.recent-post-date {
  font-size: 12px;
  line-height: normal;
  color: #888888;
  display: block;
}

.recent-post-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.29;
}

.recent-post-link {
  text-decoration: none;
  color: #000000;
}

/*search*/

.search {
  margin-top: 55px;
  display: flex;
}

.search-group {
  flex-grow: 1;
  position: relative;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.field {
  font-size: 13px;
  box-sizing: border-box;
  background-color: #f4f7f6;
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  padding-left: 17px;
  padding-right: 17px;
  font-family: inherit;
}

.button {
  background-color: #b59f5b;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  height: 48px;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.search-button {
  width: 48px;
  height: 48px;
}

.search-icon {
  width: 20px;
  height: 48px;
  position: absolute;
  right: 27px;
  cursor: pointer;
}

/*subscribe*/

.subscribe-button {
  margin-top: 19px;
  width: 272px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .search-icon {
    right: 46px;
  }

  .subscribe-button {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .subscribe-button {
    width: 100%;
  }
}

/*tags*/

.list-tag {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  flex-wrap: wrap;
}

.tag-link {
  text-decoration: none;
  color: #0f0d0e;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 5px 14px;
  border-style: solid;
  border-color: #ededed;
}

.tag {
  line-height: normal;
  margin-bottom: 3px;
  margin-right: 3px;
}

.tag-link:hover {
  color: #b59f5b;
}

/*categories*/

.categories-title {
  margin-bottom: 20px;
}

.list-categorie {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.categorie {
  padding: 0 0 12px;
  border-bottom: 1px solid #ededed;
}

.categorie:nth-child(n + 2) {
  margin-top: 10px;
}

.categorie-link {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
}

.quantity {
  font-size: 12px;
  line-height: normal;
  color: #b59f5b;
  font-weight: 700;
  vertical-align: super;
}

/*products*/

.products {
  margin-bottom: 71px;
}

.products-container {
  display: flex;
}

.product {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.product-imgbox {
  margin-left: 20px;
  margin-right: 10px;
}

.product:nth-child(n + 2) {
  margin-left: 5%;
}

.product-content {
  border: 3px solid #d3c59d;
  padding-top: 47px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 28px;
  margin-top: -34px;
  position: relative;
  z-index: 2;
  flex-grow: 1;
}

.product-link {
  text-decoration: none;
  color: #000000;
}

.product-description-link {
  text-decoration: none;
  color: #b59f5b;
}

.product-description-link:hover {
  text-decoration: underline;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 27px;
}

.product-price {
  font-size: 20px;
  font-weight: 700;
  display: block;
}

.product-price_old {
  font-size: 14px;
  text-decoration: line-through;
}

.product_button {
  width: 140px;
  text-decoration: none;
  text-align: center;
  line-height: 48px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .products-container {
    flex-wrap: wrap;
  }

  .product {
    width: 48%;
  }

  .product:nth-child(even) {
    margin-left: 4%;
  }

  .product:nth-child(odd) {
    margin-left: 0;
  }

  .product:nth-child(n + 3) {
    margin-top: 4%;
  }
}

@media (max-width: 640px) {
  .products-container {
    flex-wrap: wrap;
  }

  .product {
    width: 100%;
  }

  .product:nth-child(n + 2) {
    margin-top: 27px;
  }

  .product:nth-child(n + 2) {
    margin-left: 0;
  }
}

/*footer*/

.footer {
  margin-bottom: 33px;
}

/*socials*/

.socials-block {
  background-color: #f4f7f6;
  text-align: center;
  padding: 25px;
}

.socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.socials-item {
  display: inline-block;
}

.socials-item:nth-child(n + 2) {
  margin-left: 20px;
}

.socials-link {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/*copyright*/

.copyright {
  text-align: center;
  margin-top: 70px;
  font-size: 12px;
  line-height: normal;
  font-weight: 700;
}

.copyright-link {
  text-decoration: none;
  color: #999999;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.46;
  color: #000000;
  margin: 0;
  padding: 0;
  position: relative;
}

/*popup*/

.popup-opacity::before {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: 7;
}

.popup {
  position: absolute;
  z-index: 8;
  background-color: #fff;
  top: 235px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 390px;
}

._hidden {
  visibility: hidden;
}

.popup-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -8px;
  top: -25px;
}

.popup-content {
  padding: 0 30px;
  font-size: 13px;
}

.popup-row:nth-child(n + 2) {
  margin-top: 24px;
}

.popup-form-hint {
  display: block;
  margin-bottom: 8px;
}

.form-group {
  display: block;
  position: relative;
}

.popup-select-options {
  color: #000;
  opacity: 0.54;
  background-color: #f4f7f6;
  border: none;
  padding: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  font-family: inherit;
}

.popup-select-icon {
  width: 10px;
  height: 16px;
  position: absolute;
  top: 47px;
  right: 10px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;

  width: 20px;
  height: 20px;

  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.radio-group-text::before {
  display: inline-block;
  vertical-align: middle;
}

.radio-group-text::before {
  margin-right: 8px;
}

.radio-group {
  display: inline-block;
}

.radio-group:nth-of-type(n + 2) {
  margin-left: 15px;
}
.radio:checked ~ .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.popup-textarea {
  color: #000;
  opacity: 0.54;
  height: 130px;
  box-sizing: border-box;
  background-color: #f4f7f6;
  width: 100%;
  border: none;
  outline: none;
  font-family: inherit;
  padding: 20px;
  resize: none;
  outline: none;
  font-size: inherit;
}

.popup-button {
  width: 100%;
}

/*header*/

.header {
  padding-top: 25px;
  padding-bottom: 125px;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  color: #fff;
  position: relative;
}

.header::before {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 104px;
  align-items: center;
}

.logo {
  display: block;
  width: 179px;
}

.menu {
  font-size: 13px;
  line-height: normal;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 37px;
}

.menu-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
}

.menu-list-item:hover {
  text-decoration: underline;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
}

.header-title-container {
  margin: 0 auto;
  width: 750px;
  text-align: center;
  color: #ffffff;
}

.header-title {
  font-size: 45px;
  line-height: 1.67;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 0;
}

.header-title:last-child {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .menu-button {
    display: none;
  }

  .header {
    min-width: 1200px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    padding-top: 40px;
    padding-bottom: 100px;
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  .container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 35px;
  }

  .menu-button {
    width: 35px;
    height: 25px;
    border: none;
    padding: 0;
    background-color: transparent;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .menu-list {
    display: none;
  }

  .menu-button:before {
    top: 0;
  }

  .menu-button:before,
  .menu-button:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
  }

  .menu-button:after {
    bottom: 0;
  }

  .menu-button-label {
    width: 100%;
    height: 20%;
    margin-top: -2.5px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .header-title-container {
    width: 611px;
  }

  .header-title {
    font-size: 40px;
    line-height: 1.38;
  }
}

@media (max-width: 640px) {
  .header {
    padding-top: 30px;
    padding-bottom: 220px;
    background-image: url(../images/banner-mobile.jpg);
    width: 100%;
  }

  .container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .logo {
    width: 270px;
    padding-top: 121px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-button {
    width: 35px;
    height: 25px;
    border: none;
    padding: 0;
    background-color: transparent;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .menu-list {
    display: none;
  }

  .menu-button:before {
    top: 0;
  }

  .menu-button:before,
  .menu-button:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
  }

  .menu-button:after {
    bottom: 0;
  }

  .menu-button-label {
    width: 100%;
    height: 20%;
    margin-top: -2.5px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .header-title-container {
    width: 89%;
    padding-top: 100px;
  }

  .header-title {
    font-size: 26px;
    line-height: 1.38;
  }
}

/*trends*/

.trends {
  margin-top: 65px;
}

.trends-products-popup-title {
  font-size: 20px;
  line-height: normal;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-top: 0;
  margin-bottom: 22px;
}

.trends-products-popup-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.trends-container {
  display: flex;
}

.trend {
  width: 25%;
  height: 320px;

  display: flex;
  justify-content: center;

  position: relative;
}

.trend:nth-child(n + 2) {
  margin-left: 0.25%;
}

.trend::after {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.trend-header {
  border: 3px solid #b59f5b;
  margin-bottom: 18px;

  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  align-self: flex-end;
  padding: 40px 35px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.trend-card1 {
  background-image: url(../images/trend1.jpg);
  background-size: cover;
}

.trend-card2 {
  background-image: url(../images/trend2.jpg);
  background-size: cover;
}

.trend-card3 {
  background-image: url(../images/trend3.jpg);
  background-size: cover;
}

.trend-card4 {
  background-image: url(../images/trend4.jpg);
  background-size: cover;
}

.article-tags {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  flex-wrap: wrap;
}

.article-tag {
  margin-right: 20px;
}

.article-tag:hover {
  text-decoration: underline;
}

.article-tag:last-child {
  margin-right: 0;
}

.article-tag-link {
  text-decoration: none;
  color: #b59f5b;
}

.article-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
}

.article-link:hover {
  color: #b59f5b;
}

.article-news-link:hover {
  color: #b59f5b;
}

.article-link {
  text-decoration: none;
  color: #ffffff;
}

@media (orientation: portrait) and (min-width: 641px) and (max-width: 1199px),
  (orientation: landscape) and (max-width: 640px) {
  .trends-container {
    flex-wrap: wrap;
  }

  .trend {
    width: 49.75%;
  }

  .trend:nth-child(2n + 2) {
    margin-left: 0.5%;
  }

  .trend:nth-child(2n + 3) {
    margin-left: 0;
  }

  .trend:nth-child(n + 3) {
    margin-top: 0.5%;
  }
}

@media (max-width: 640px) {
  .trends-container {
    flex-wrap: wrap;
  }

  .trend {
    width: 100%;
  }

  .trend:nth-child(n + 2) {
    margin-top: 0.5%;
  }
}

/*main*/

.container-main {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 54px;
}

/*news*/

.news {
  width: 778px;
}

.news-item {
  display: flex;
}

.news-item:nth-child(n + 2) {
  margin-top: 55px;
}

.news-item-img-container {
  margin: 0 30px 0 0;
}

.news-item-img {
  width: 380px;
}

.news-item-header {
  margin-bottom: 43px;
}

.article-news-link {
  text-decoration: none;
  color: #000000;
}

.news-item-meta {
  margin-top: 26px;
}

.news-item-date {
  font-size: 12px;
  line-height: normal;
  color: #888888;
  display: inline-block;
  margin-right: 10px;
}

.news-item-author {
  font-weight: 700;
  font-size: 12px;
  display: inline-block;
  font-style: normal;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .news {
    width: 56%;
  }

  .news-item {
    flex-wrap: wrap;
    border-bottom: 3px solid #eeeeee;
  }

  .news-item:last-child {
    border-bottom: none;
  }

  .news-item-img-container {
    margin: 0 auto;
  }

  .news-item-img {
    width: 100%;
  }

  .news-item-block {
    margin-top: 15px;
  }
}

@media (max-width: 640px) {
  .container-main {
    flex-wrap: wrap;
  }

  .news {
    width: 100%;
  }

  .news-item {
    flex-wrap: wrap;
    border-bottom: 3px solid #eeeeee;
  }

  .news-item-img-container {
    margin: 0 auto;
  }

  .news-item-img {
    width: 100%;
  }

  .news-item-block {
    margin-top: 5px;
  }

  .news-item:nth-child(n + 2) {
    margin-top: 35px;
  }
}

/*other*/

.other {
  width: 272px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .other {
    width: 39%;
  }
}

@media (max-width: 640px) {
  .other {
    width: 100%;
    margin-top: 45px;
  }
}

/*recent-posts*/

.sidebar-title {
  font-size: 14px;
  line-height: normal;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-top: 0;
  margin-bottom: 25px;
}

.sidebar-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.sidebar-block:nth-child(n + 2) {
  margin-top: 55px;
}

.recent-post {
  display: flex;
}

.recent-post:nth-child(n + 2) {
  margin-top: 17px;
}

.recent-post-img-container {
  margin: 0 20px 0 0;
}

.recent-post-img {
  width: 70px;
}

.recent-post-date {
  font-size: 12px;
  line-height: normal;
  color: #888888;
  display: block;
}

.recent-post-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.29;
}

.recent-post-link {
  text-decoration: none;
  color: #000000;
}

/*search*/

.search {
  margin-top: 55px;
  display: flex;
}

.search-group {
  flex-grow: 1;
  position: relative;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.field {
  font-size: 13px;
  box-sizing: border-box;
  background-color: #f4f7f6;
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  padding-left: 17px;
  padding-right: 17px;
  font-family: inherit;
}

.button {
  background-color: #b59f5b;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  height: 48px;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.search-button {
  width: 48px;
  height: 48px;
}

.search-icon {
  width: 20px;
  height: 48px;
  position: absolute;
  right: 27px;
  cursor: pointer;
}

/*subscribe*/

.subscribe-button {
  margin-top: 19px;
  width: 272px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .search-icon {
    right: 46px;
  }

  .subscribe-button {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .subscribe-button {
    width: 100%;
  }
}

/*tags*/

.list-tag {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  flex-wrap: wrap;
}

.tag-link {
  text-decoration: none;
  color: #0f0d0e;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 5px 14px;
  border-style: solid;
  border-color: #ededed;
}

.tag {
  line-height: normal;
  margin-bottom: 3px;
  margin-right: 3px;
}

.tag-link:hover {
  color: #b59f5b;
}

/*categories*/

.categories-title {
  margin-bottom: 20px;
}

.list-categorie {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.categorie {
  padding: 0 0 12px;
  border-bottom: 1px solid #ededed;
}

.categorie:nth-child(n + 2) {
  margin-top: 10px;
}

.categorie-link {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
}

.quantity {
  font-size: 12px;
  line-height: normal;
  color: #b59f5b;
  font-weight: 700;
  vertical-align: super;
}

/*products*/

.products {
  margin-bottom: 71px;
}

.products-container {
  display: flex;
}

.product {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.product-imgbox {
  margin-left: 20px;
  margin-right: 10px;
}

.product:nth-child(n + 2) {
  margin-left: 5%;
}

.product-content {
  border: 3px solid #d3c59d;
  padding-top: 47px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 28px;
  margin-top: -34px;
  position: relative;
  z-index: 2;
  flex-grow: 1;
}

.product-link {
  text-decoration: none;
  color: #000000;
}

.product-description-link {
  text-decoration: none;
  color: #b59f5b;
}

.product-description-link:hover {
  text-decoration: underline;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 27px;
}

.product-price {
  font-size: 20px;
  font-weight: 700;
  display: block;
}

.product-price_old {
  font-size: 14px;
  text-decoration: line-through;
}

.product_button {
  width: 140px;
  text-decoration: none;
  text-align: center;
  line-height: 48px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .products-container {
    flex-wrap: wrap;
  }

  .product {
    width: 48%;
  }

  .product:nth-child(even) {
    margin-left: 4%;
  }

  .product:nth-child(odd) {
    margin-left: 0;
  }

  .product:nth-child(n + 3) {
    margin-top: 4%;
  }
}

@media (max-width: 640px) {
  .products-container {
    flex-wrap: wrap;
  }

  .product {
    width: 100%;
  }

  .product:nth-child(n + 2) {
    margin-top: 27px;
  }

  .product:nth-child(n + 2) {
    margin-left: 0;
  }
}

/*footer*/

.footer {
  margin-bottom: 33px;
}

/*socials*/

.socials-block {
  background-color: #f4f7f6;
  text-align: center;
  padding: 25px;
}

.socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.socials-item {
  display: inline-block;
}

.socials-item:nth-child(n + 2) {
  margin-left: 20px;
}

.socials-link {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/*copyright*/

.copyright {
  text-align: center;
  margin-top: 70px;
  font-size: 12px;
  line-height: normal;
  font-weight: 700;
}

.copyright-link {
  text-decoration: none;
  color: #999999;
}
